body {
  margin-left: 4em;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  font-family: Bookman Old Style;
}

button {
  position: absolute;
  font-size: 1.8em;
  height: 2em;
}

#AIbutton {
  left: 2.2em;
}
